.card-footer{
    padding: 0;
    text-align:center;
    margin-top:auto;
    margin-bottom:auto;
}

.card{
    margin-bottom: 30px;
}

.img-responsive{
    height: 230px;
    width: 100%;
}

.content {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}